doctype html
html
    head
        title= "Pixel density and Resolution tool for CSS media queries"
        link(rel="stylesheet", href="./styles/styles.css")
    body
        h1.main-title "Pixel density and Resolution tool for CSS media queries"
        include pixel-density-tool.pug